body{
    background-color: gray;
}

#container{
    background-color: snow;
    border: 2px solid black;
    width: 900px;
    height: 600px;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
}

#myIteraction{
    padding: 10px;
}